PORT=4173
# GITHUB_CLIENT_ID=
# GITHUB_CLIENT_SECRET=
# WALLETCONNECT_PROJECT_ID=
# AO_GATEWAY_URL=
# ARWEAVE_UPLOAD_URL=
# ARWEAVE_UPLOAD_TOKEN=
# EVM_RPC_URL=
# FAUCET_PRIVATE_KEY=
# FAUCET_TOKEN_CONTRACT=
